<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>vincent's little language experiment</title>
</head>

<body>
    <div id="nav">
        <a class="navlink" href="/">Home</a>
        <a class="navlink" href="/filter/asian">Asian</a>
        <a class="navlink" href="/filter/european">Indo-European</a>
        <a class="navlink" href="/filter/romance">Romance</a>
        <a class="navlink" href="/filter/germanic">Germanic</a>
        <a class="navlink" href="/filter/other">Other</a>
    </div> <br/> <br/>
    <h1>vincent's little language experiment</h1> {{{body}}}
</body>

</html>
