<p class="gray"><b>train:</b> help us make our models more accurate!</p>
<form action="/train" method="post">
    <label for="name">Language:</label> <br/>
    <input type="text" id="name" name="name" placeholder="Language name" /><br/> <br/>
    <label for="sample">Text Sample:</label> <br/>
    <textarea id="sample" name="sample" placeholder="Language text.."></textarea> <br/>
    <button type="submit"/> Train </button>
    <p id="language">{{language}}</p>
    <hr/>
    <p>Play around with our language <a href="/detection">detection</a>, or <a href="/addpage">add</a> a language.</p>
</form>
